{{yield}}


{{!-- <!-- app/components/my-progress-bar.hbs --> --}}

{{!-- if i click decrease it increase --}}

<div class="progress w-50 h-25 border my-auto" role="progressbar" aria-label="Example with label"
    aria-valuenow={{this.progressValue}} aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style={{this.barStyle}}></div>
</div>
<div>
    <button {{on 'click' this.decreaseProgress}} class="rounded-circle border border-2 border-primary me-2 text-black"
        type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" disabled={{this.lowest}}>
        <span class="carousel-control-prev-icon text-black" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button {{on 'click' this.increaseProgress}} class="rounded-circle border border-2 border-primary me-2"
        type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" disabled={{this.highest}}>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
</div>